body {
    font-family: 'Segoe UI'
}
#section {
    background-color: bisque;
    background-image: url('../Background.jpg');
    
    background-size: cover; 
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    height: 700px;
    
    display: flex;
    justify-content: center;
    align-items: center;   
}
.subSection {
    /* border: 1px solid white; */
    width: 32%;
    height: 95%;
}

#middleSubSection {
    display: flex;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;

}
#board {
    border: 1px solid white;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    background-color: white;
    width: 24.6%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}
#leftSubSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightSubSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btnStartGame {
    height: 50px;
    width: 35%;
    border-radius: 10px;
    font-size: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 45%;
    height: 50px;
    font-size: 30px;    
}
#message {
    font-size: 45px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.disabled {
    pointer-events: none;
}

#mistakes {
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
}